.charsheet {
	width: 830px;
	background: white;
}

textarea {
	resize: none;
	height: auto;
	width: 97%;
}

textarea, 
input { 
	outline: none;
	box-shadow: none;
	margin-bottom: 1px;
}

.sheet-header textarea, 
.sheet-header input {
	border: none;
}

input[type="number"], 
input[type="text"] {
	width: 100%;
}

select {
	width: auto;
	margin: 0;
}

input[type=number]:disabled::-webkit-inner-spin-button, 
input[type=number]:disabled::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[disabled] {-moz-appearance: textfield}

.repcontainer .btn,
.repcontrol .btn {
    border-radius: 0;
    background-image: none;
    border: none;
}


/* ===== LAYOUT ===== */
.sheet-col-left {
	float: left;
	width: 39%;
}

.sheet-col-right {
	float: right;
	width: 60%;
}


/* ===== TOGGLE ===== */
.sheet-toggle:not(:checked) ~ .sheet-hide,
.sheet-toggle:checked ~ .sheet-show {
	display: none;
}


/* ===== SECTION HEADERS ===== */
.sheet-header {
	background-color: #000;
	color: #fff;
	padding: 2px 0px;
	vertical-align: middle;
	line-height: 100%;
	height: 32px;
	line-height: 32px;
	font-size: 1.1em;
	margin: 3px 0px;
	box-align: center;
	border-radius: 4px;
	padding: 2px 2px 2px 8px;
}

.sheet-header input {
	height: 28px;

	border: none;
	vertical-align: middle;
	font-weight: bold;

	font-size: 18px;
	line-height: 18px;
	margin: 2px;
}

.sheet-header input[type="text"] {
	width: 2.2em;
}

.sheet-header input[type="number"] {
	width: 2.7em;
}

.sheet-header input[type="number"]:disabled {
	width: 2em;
}

.sheet-header button[type="roll"] {
	height: 28px;
	width: 28px;
	margin: 2px;
	padding: 4px;
	padding-top: 5px;

	font-size: 20px;
	text-align: center;

	background: white;
	border: black;
	border-radius: 3px;
}

.sheet-header > * {
	text-align: right;
	float: right;
	height: 100%;
}

.sheet-header .sheet-section-name {
	margin-right: 2px;
	font-weight: bold;
	text-align: left;
	float: left;
}



/* ===== MAIN HEADER ===== */
.sheet-topbar {
	height: 50px;
	padding: 4px 2% 4px 2%;
}

.sheet-topbar.sheet-header > input {
	height: 100%;
	width: 50%;
	padding: 0;
	margin: 0;

	background-color: black;
	color: white;

	font-size: 38px;
	line-height: 42px;
}

.sheet-topbar > .sheet-field-name {
	float: left;
	text-align: left;
}

.sheet-topbar > .sheet-field-class {
	float: right;
	text-align: right;
}


/* ===== STATISTICS ===== */
.sheet-statistics,
.sheet-section-fellowshipoptions {
	width: 100%;
	margin-left: 0.5%;
}

.sheet-statistics .sheet-header,
.sheet-section-fellowshipoptions .sheet-header {
	width: 31%;

	float: left;
	margin-right: 1%;
}

.sheet-statistics .sheet-header:last-child,
.sheet-section-fellowshipoptions .sheet-header:last-child {
	margin-right: 0;
}


/* ===== ATTRIBUTES ===== */
.sheet-attributes {
	margin-left: 1%;
	margin-bottom: 10px;
}

.sheet-attributes .sheet-header {
	height: auto;
	width: 18%;
	float: left;
	margin-right: 1%;
	padding: 4px;
	padding-bottom: 6px;
	position: relative;
}

.sheet-attributes .sheet-header > label {
	height: 1em;
	width: 83%;
	margin: 0;
	padding: 1px 2px;
	margin: 0 5%;

	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
    font-size: 12px;
    font-style: italic;

	background: white;
	/*transform: skew(-10deg); 
	 -webkit-transform: skew(-10deg);*/

	position: absolute;
}

.sheet-attributes .sheet-header > label.sheet-top {
	top: -5px;
}

.sheet-attributes .sheet-header > label.sheet-bottom {
	bottom: -2px;
}

.sheet-attributes .sheet-header input[type="number"],
.sheet-attributes .sheet-header input[type="text"] {
	background: white;
	width: 100%;
	margin: 0;
	text-align: center;
	z-index: 1;
}


.sheet-attributes .sheet-row-1 input {
	width: 100%;
}

.sheet-attributes .sheet-row-1 button {
	position: absolute;
	right: 2px;
	bottom: 2px;
	z-index: 1;
}

.sheet-attributes .sheet-row-2 {
	width: 100%;
	height: 16px;
	padding: 1px;
	overflow: hidden;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.sheet-attributes .sheet-row-2 label {
	color: #DDD;
	font-size: 80%;
}

.sheet-attributes .sheet-row-2 input {
	height: 14px;
	margin: 0;
}

.sheet-attributes .sheet-row-3 button {
	position: absolute;
	right: 2px;
	bottom: 2px;
	z-index: 1;
}


/* ===== UTILITY ===== */
.sheet-clearfix {
	clear: both;
}

.sheet-right {
	float: right !important;
}

.sheet-left {
	float: left !important;
}


/* ===== TWEAKS ===== */
/*
.sheet-section-moves textarea {
    resize: vertical;
    padding-bottom: 2
}*/

.sheet-row-1 .sheet-fluidnumber-box {
    background-color:#ffffff;
    background-size: cover;
}

.sheet-attributes .sheet-header input[type="fluidnumber"] {
	width: 45%;
	margin: 0;
	text-align: center;
	z-index: 1;
}

.sheet-row-1 .sheet-slash{
    background: #ffffff;
    color: black;
    text-transform: uppercase;
	text-align: center;
	font-weight: normal;
    font-size: 12px;
    font-style: italic;
}

.sheet-section-moves input[name="attr_movename"],
.sheet-section-plans input[name="attr_planname"],
.sheet-section-generals input[name="attr_generalsname"],
.sheet-section-people input[name="attr_people_name"],
.sheet-section-yourship input[name="attr_yourship_type"] {
    width:89%;
}

.sheet-section-spells input[name="attr_spellname"],
.sheet-section-advancement input[name="attr_advancement"],
.sheet-section-notes input[name="attr_note-title"],
.sheet-section-notes textarea[name="attr_note-body"] {
	width: 97%;
}

.sheet-section-companionbox,
.sheet-section-gearbox,
.sheet-section-othergearbox,
.sheet-section-movebox,
.sheet-section-plansbox,
.sheet-section-generalsbox {
    width: 94%;
    background-color: #DDD;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 0%
}

.sheet-section-companions input[name="attr_companionname"] {
    width: 100%;
}

.sheet-section-companions input[name="attr_companionstat"] {
    width: 94%;
}

.sheet-section-gear input[name="attr_itemtags"],
.sheet-section-othergear input[name="attr_otheritemtags"] {
	width: 66%;
	float: left;
}



/* ===== Borrowing stuff from AuthorX's Fellowship ===== */
button[type=roll].sheet-d6-roll-button::before { 
    content: 'F';
    font-family: 'dicefontd6';
}

button[type=roll].sheet-move-chat-button::before,
button[type=roll].sheet-people-chat-button::before,
button[type=roll].sheet-yourship-chat-button::before { 
    content: 'q';
    font-family: 'pictos';
}

.sheet-section-title button[type=roll]{
    margin: 5px;
}

.sheet-hideAdvanced:checked ~ .sheet-section-advancedoptions,
.sheet-section-fellowshipoptions,
.sheet-section-duooptions,
.sheet-section-triooptions,
.sheet-sheetType:not([value="fellowship"]) ~ .sheet-fellowship,
.sheet-sheetType:not(:default) ~ .sheet-fellowship,
.sheet-sheetType:not(:invalid) ~ .sheet-fellowship,
.sheet-sheetType:not([value="ship"]) ~ .sheet-ship,
.sheet-sheetType:not([value="overlord"]) ~ .sheet-overlord,
.sheet-hasIron:not(:checked) ~ .sheet-iron,
.sheet-hasDoom:not(:checked) ~ .sheet-doom,
.sheet-hasWebs:not(:checked) ~ .sheet-webs,
.sheet-hasPair:not(:checked) ~ .sheet-pair,
.sheet-hasPairIron:not(:checked) ~ .sheet-pair-iron,
.sheet-hasPairDoom:not(:checked) ~ .sheet-pair-doom,
.sheet-hasPairWebs:not(:checked) ~ .sheet-pair-webs,
.sheet-hasTrio:not(:checked) ~ .sheet-trio,
.sheet-hasTrioIron:not(:checked) ~ .sheet-trio-iron,
.sheet-hasTrioDoom:not(:checked) ~ .sheet-trio-doom,
.sheet-hasTrioWebs:not(:checked) ~ .sheet-trio-webs,
.sheet-hasWarmonger:not(:checked) ~ .sheet-warmonger,
.sheet-hidePeople:checked ~ .sheet-section-people,
.sheet-hideArmy:checked ~ .sheet-section-army,
.sheet-hideLook:checked ~ .sheet-section-look,
.sheet-hideBonds:checked ~ .sheet-section-bonds,
.sheet-hideCompanions:checked ~ .sheet-section-companions,
.sheet-hideWeakness:checked ~ .sheet-section-weakness,
.sheet-hideGear:checked ~ .sheet-section-gear,
.sheet-hideOtherGear:checked ~ .sheet-section-othergear,
.sheet-hideSpells:checked ~ .sheet-section-spells,
.sheet-hideCrew:checked ~ .sheet-section-crew,
.sheet-hideYourShip:checked ~ .sheet-section-yourship,
.sheet-hideAdvancement:checked ~ .sheet-section-advancement,
.sheet-hideNotes:checked ~ .sheet-section-notes {
    display: none;
}

.sheet-hideAdvanced:not(:checked) ~ .sheet-section-advancedoptions,
.sheet-section-advancedoptions ~ .sheet-section-duooptions,
.sheet-section-advancedoptions ~ .sheet-section-triooptions,
.sheet-sheetType[value="fellowship"] ~ .sheet-fellowship,
.sheet-sheetType:default ~ .sheet-fellowship,
.sheet-sheetType:invalid ~ .sheet-fellowship,
.sheet-sheetType[value="npc"] ~ .sheet-npc,
.sheet-sheetType[value="ship"] ~ .sheet-ship,
.sheet-sheetType[value="rebellion"] ~ .sheet-rebellion,
.sheet-sheetType[value="overlord"] ~ .sheet-overlord,
.sheet-sheetType[value="horizon"] ~ .sheet-horizon,
.sheet-sheetType[value="location"] ~ .sheet-location,
.sheet-sheetType[value="empire"] ~ .sheet-empire,
.sheet-hasIron:checked ~ .sheet-iron, 
.sheet-hasDoom:checked ~ .sheet-doom,
.sheet-hasWebs:checked ~ .sheet-webs,
.sheet-hasPair:checked ~ .sheet-pair,
.sheet-hasPairIron:checked ~ .sheet-pair-iron, 
.sheet-hasPairDoom:checked ~ .sheet-pair-doom,
.sheet-hasPairWebs:checked ~ .sheet-pair-webs,
.sheet-hasTrio:checked ~ .sheet-trio,
.sheet-hasTrioIron:checked ~ .sheet-trio-iron, 
.sheet-hasTrioDoom:checked ~ .sheet-trio-doom,
.sheet-hasTrioWebs:checked ~ .sheet-trio-webs,
.sheet-hasWarmonger:checked ~ .sheet-warmonger,
.sheet-hidePeople:not(:checked) ~ .sheet-section-people,
.sheet-hideArmy:not(:checked) ~ .sheet-section-army,
.sheet-hideLook:not(:checked) ~ .sheet-section-look,
.sheet-hideBonds:not(:checked) ~ .sheet-section-bonds,
.sheet-hideCompanions:not(:checked) ~ .sheet-section-companions,
.sheet-hideWeakness:not(:checked) ~ .sheet-section-weakness,
.sheet-hideGear:not(:checked) ~ .sheet-section-gear,
.sheet-hideOtherGear:not(:checked) ~ .sheet-section-othergear,
.sheet-hideSpells:not(:checked) ~ .sheet-section-spells,
.sheet-hideCrew:not(:checked) ~ .sheet-section-crew,
.sheet-hideYourShip:not(:checked) ~ .sheet-section-yourship,
.sheet-hideAdvancement:not(:checked) ~ .sheet-section-advancement,
.sheet-hideNotes:not(:checked) ~ .sheet-section-notes  {
    display: block;
}

/* AuthorX's ROLL TEMPLATE */

.sheet-rolltemplate-aw table {
   /* width: 189px;
    height: 189px;*/
    padding: 2px;
    /*background: url(http://i.imgur.com/xBk4U1p.jpg) top left;
    background-size: 189px 189px;
    background-repeat: no-repeat;*/
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-spacing: 0;
}

.sheet-rolltemplate-aw th {
    color: rgb(0, 0, 0);
    padding: 15px 2px 2px 20px;
    line-height: 1.2em;
    font-size: 1.2em;
    text-align: left;
}


.sheet-rolltemplate-aw td {
    padding-left: 20px;
    font-size: 1.0em;
    vertical-align: top;
}

.sheet-rolltemplate-aw .sheet-result {
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
}

.sheet-rolltemplate-aw .inlinerollresult,
.sheet-rolltemplate-aw .inlinerollresult.fullcrit,
.sheet-rolltemplate-aw .inlinerollresult.fullfail,
.sheet-rolltemplate-aw .inlinerollresult.importantroll{
    background-color: transparent;
    color: #000000;
    border: none;
}

.sheet-rolltemplate-aw .sheet-success .inlinerollresult,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult.fullcrit,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult.fullfail,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult.importantroll{
    background-color: transparent;
    color: #3FB315;
    border: none;
}

.sheet-rolltemplate-aw .sheet-failure .inlinerollresult,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult.fullcrit,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult.fullfail,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult.importantroll{
    background-color: transparent;
    color: #B31515;
    border: none;
}


/* Modified 5e ROLL TEMPLATE */
.sheet-rolltemplate-sharemove .sheet-container {
    background-color: #ffffff;
    border: 1px solid;
    padding: 2px;
    width: auto;
}

.sheet-rolltemplate-sharemove .sheet-container h1 {
    color: #000000;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 20px;
}

.sheet-rolltemplate-sharemove div {
    padding: 2px;
};
 
.sheet-rolltemplate-sharemove span {
    color:#000;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-variant: small-caps;
    line-height: 1.6em;
    padding-left: 5px;
    text-align: left;
}
 
.sheet-rolltemplate-sharemove .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}
 
.sheet-rolltemplate-sharemove .sheet-underline {
    border-top: 2px solid #000;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}
 
.sheet-rolltemplate-sharemove .inlinerollresult  {
    background-color: #ffffff;
    border: none;
}
 
.sheet-rolltemplate-sharemove .inlinerollresult.importandivoll {
    color: #4A57ED;
    border: none;
}

/* Expanding Textarea. Source = https://app.roll20.net/forum/post/7563493/help-using-expanding-textarea-box */
.sheet-auto-expand {
	position: relative;
	cursor: text;
	word-wrap: break-word;
}
.sheet-auto-expand span {
	visibility: hidden;
	white-space: pre-wrap;
    display: block;
    border: solid;
    border-radius: 1px;
    border-color: #AAAAAA;
    border-width: 2px;
    min-height: 3em
}
.sheet-auto-expand textarea {
	position: absolute;
	z-index: 1;
	top: 0;
    left: 0;
    bottom: 5px;
	margin: 0;
	overflow: hidden;
	resize: auto;
	height: 100%;
	width: 100%;
	display: block;
	box-sizing: border-box;
	background: #ffffff;
	box-shadow: none;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	padding: 2px;
	text-align: inherit;
	text-transform: inherit;
}